conn "{{.Name}}"
	aggressive = yes
	fragmentation = yes
	keyexchange = ikev1
	mobike = yes
	reauth = yes
	rekey = yes
	forceencaps = no
	installpolicy = yes
	type = tunnel
	dpdaction = restart
	dpddelay = 10s
	dpdtimeout = 60s

	left={{.dynB}}
	#left = %any
	right = {{.dynA}}

	leftid = {{.dynB}}
	ikelifetime = 3600s
	lifetime = 3600s
	ike = aes256-sha512-modp1024!
	leftauth = psk
	rightauth = psk
	rightid = @{{.dynA}}
	reqid = 1
	rightsubnet = {{.ipA}}/24
	leftsubnet = {{.ipB}}/24
	esp = aes256-sha512-modp1024!
	auto = route