### nftables.conf
	nft insert rule nat postrouting oifname <LAN> ip daddr {{.IPSEITEB}}/24 accept
	nft add rule filter forward iifname <LAN> oifname <WAN> ip saddr {{.IPSEITEB}}/24 ct state new accept